.wrapper{
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-space: 9px;
    --search-btn-width: 52px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-height);
    background-color: var(--white);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}

.inner{
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link{
    display: flex;
}

//Action
.actions{
    display: flex;
    align-items: center;
}


.more-btn{
    font-size:2rem;
    padding: 4px 8px;
    margin-left: 28px;
    background: transparent;
    cursor: pointer;
}

.action-btn{
    color: #161823;
    font-size: 2.4rem;
    background-color: transparent;
    padding: 4px 12px;
    cursor: pointer;
}

.user-avatar{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}